apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-bmzcqchg
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-bmzcqchg:ae38de00e9195527ebccdb67d1de27f81f8b4c0b@sha256:9f1811cd0660666b70121261c98ab8638c8f6d728ac4df37bb495323633e7033
          name: container-image
